body {
	font-size: 1em;
	color: #888;
	background: #ffd264;
}

a:link {
	color: #FFF;
}
a:visited {
	color: #FFF;
}
a:hover {
	color: #FF0;
}
a:active {
	color: #FFF;
}

#content {
	margin: 0 auto;
	width: 100%;
}

.titleBlock_mt {
    padding: 50px 0;
    margin: 0 auto;
    width: 100%;
    background-image: url(../img/index_bg.jpg);
}

.captionBlock_mt {
    padding: 50px 0;
    margin: 0 auto;
    width: 100%;
    background: #59493f;
}

h1.title_mt {
    margin: 50px;
}

.list_sns_mt {
    padding-bottom: 100px;
	margin: 20px auto;
	width: 800px;
	list-style-type: none;
}

.list_sns_mt li a {
	margin-left: 15px;
	padding: 1em;
	width: 200px;
    height: 20px;
    color: #000;
    text-decoration: none;
	background-color: #85cffc;
	border-radius: 10px;
	float: left;
}

.list_sns_mt li a:hover {
	color: #85cffc;
	background-color: #FFF;
}

.contact_mt {
    width: 800px;
    background-color: #85cffc;
	border-radius: 10px;
}

footer {
	padding: 1em 0;
	width: 100%;
	background: #FFF;
}

.clear_mt {
	clear: both;
}